<div class="container body-content">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 well">
        {{#each articles}}
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <article>
                    <header>
                        <h2>{{this.title}}</h2>
                    </header>

                    <p>{{this.content}}
                    </p>

                    <small class="author">
                        Posted by {{this.author.fullName}}
                    </small>

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs" href="/article/details/{{this.id}}">Read more &raquo;</a>
                        </div>
                    </footer>
                </article>
                <hr>

            </div>
        {{/each}}
    </div>
</div>
